<md-list-item>
  <div class="md-padding" layout="row" flex>
    <div flex="60" layout="row">
      <md-icon md-list-avatar>lock</md-icon>
      <h3 md-line>{{formPermission.label}}</h3>
      <h4 md-line></h4>
      <p md-line></p>
    </div>
    <div flex="40">
      <md-checkbox [(ngModel)]="formPermission.read" class="list-checkbox" [disabled]="readOnly" translate>Read</md-checkbox>
      <md-checkbox [(ngModel)]="formPermission.change" class="list-checkbox" [disabled]="readOnly" translate>Change</md-checkbox>
      <md-checkbox [(ngModel)]="formPermission.remove" class="list-checkbox" [disabled]="readOnly" translate>Delete</md-checkbox>
    </div>
  </div>
</md-list-item>
